// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Colours
$primary: #0072CF;
$secondary: #6EB1F6;
$dark: #1b292b;
$grey: #00447C;
$light: #2d444d;

// Color Inverts
$primary-invert: findColorInvert($primary);
$secondary-invert: findColorInvert($secondary);
$dark-invert: findColorInvert($dark);
$grey-invert: findColorInvert($grey);
$light-invert: findColorInvert($light);

// Color Mixes
$gradient: linear-gradient($primary, $secondary);

// Typography
$primary-family: 'Muli',
sans-serif;
$secondary-font: 'Muli',
sans-serif;

// Spacing
$padding: 0.75em;
$padding-large: 2em;
$padding-small: 0.5em;

// Misc.
$box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
$box-shadow-selected: 0 0 8px $primary;

// bulma types
$colors: ("white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "grey": ($grey, $grey-invert));

@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "./mobile.scss";
@import "./desktop.scss";
@import "./keyframes.scss";